{% extends "base.html" %} {% block head%}
<title>Birthday Wishing App</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
{% endblock%} {%block body%}
<div class="box-form">
    <div class="left">
        <div class="overlay">
            <h1>Enter details:</h1>
            <form action="/" method="POST" id="form1">
                <div class="inputs">
                    <input type="text" placeholder="Name" name="name">
                    <br>
                    <input type="date" name="dob" required>
                    <br>
                    <input type="tel" placeholder="Mobile number" name="phone" required>
                    <br>
                    <input type="email" placeholder="Email" name="email" required>
                    <br>
                    <input type="text" placeholder="Custom message" name="message">
                </div>
                <br>
            <input class="button" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="right">
        <h1>Friend list</h1>
        <div class="list">
        <br>
            {%for user in users %}
            <details>
                <summary>{{user.name}}</summary>
                <p>{{user.email}} {{user.phone}} {{user.dob}}
                    <div>
                    <button type="submit" form="form1" value="delete">Delete</button>
                    <button type="submit" form="form1" value="update">Update</button>
                    </div>
                </p>
            </details>
            {% endfor%}
        <br>
        </div>
        
    
    </div>
</div>
{%endblock%}
